.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
tests/*.rds
tests/*.png
src/*.o
src/*.so
src/*.dll
sim_raw_data/
sim_results/
sim_plots/
manuscript_figures/
smriti.Rcheck/
simulation.log
manuscript/build/
*.aux
*.log
